@import "bootstrap";
@import "bootstrap-rtl";

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.quote {
  margin: 20px;
}

footer {
  margin-top: 40px;
}

.ws-description .col-md-4 .h4 {
  text-align: center;
}

.container {
  margin-top: 40px;
}

.panel-body h3 {
  margin-top: 0;
}